@use '../../../steamloach-scss/steamloach.scss' as * with (
  $brand-hue: 172,
  $brand-saturation: 66%,
  $accent-hue: 340,
  $accent-saturation: 90%,
);

$text-font: 'Raleway', serif;
$title-font: 'Lora', sans-serif;
$title-color: $shade-darkest;
$text-color: $shade-darker;
$link-color: $brand-dark;
$input-border: 1px solid $title-color;
$input-with-error-border: 1px dashed $danger-dark;
$page-background: $shade-white;
$border-color: $shade-darkest;
$modal-shade: rgba($shade-white, 0.9);

